In [0]:
import pandas as pd

<h2>Quiz 1 : Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [15]:
# Membuat dataframes dari dictionary
dataku = {
    'nama' : ['nanang', 'soleha', 'iqbal', 'mila', 'malik'],
    'umur' : [20, 18, 21, 21, 23]
}

mydata = pd.DataFrame(dataku)
mydata

     nama  umur
0  nanang    20
1  soleha    18
2   iqbal    21
3    mila    21
4   malik    23

<h2>Quiz 2 : Membaca data dari file</h2>

Download file bernama diamonds.csv, kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [18]:
# Membaca data dan memasukannya kedalam suatu variabel
df = pd.read_csv('diamonds.csv')
print(df)

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result :

![image.png](attachment:image.png)

<h2>Quiz 3 : DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

- **Series** adalah suatu objek satu dimensi yang dapat menyimpan berbagai jenis tipe data seperti integer, string, dan lain sebagainya. tipe data dari objek series ini harus seragam, sedangkan **list** merupakan sebuah kumpulan atau koleksi data  yang bisa berisi angka maupun teks. dan **dictionary** adalah koleksi pasangan item-item berasosiasi dimana setiap pasangan terdiri dari suatu key dan value

- DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel
sedangkan series adalah objek 1 dimensi

In [22]:
# code here
ds = pd.Series(['upin','ipin','mail','jarjit','meimei'])
ds

0      upin
1      ipin
2      mail
3    jarjit
4    meimei
dtype: object

<h2>Quiz 4 : Pemeriksaan Data Sederhana</h2>

Di quiz no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari :
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [45]:
# code here
df.head(1)
print(df['price'].head(1))
df.tail(1)
print(df['color'].tail(1))

0    326
Name: price, dtype: int64
53939    D
Name: color, dtype: object

<h2>Quiz 5 : Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Statistika deskriptif merupakan suatu metode yang berhubungan dengan pengumpulan atau penyajian data sampai memberi informasi yang berguna.

Untuk contoh dari statistika deskriptif sendiri antara lain yaitu:

- tabel
- diagram
- grafik
- besaran-besaran lain dalam majalah dan koran-koran.

<h2>Quiz 6 : Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [35]:
# code here
df.describe()

         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]

In [52]:
#nilai rata-rata dari price
df['price'].sum()/df['price'].count()

3932.799721913237

In [53]:
#standar deviasi dari depth
df['depth'].std()

1.4326213188337733

In [54]:
#nilai maksimum dari carat
df['carat'].max()

5.01